<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Create {{{moduleName}}}</h4>

    <!-- Basic Layout -->
    <form action="/imgUpload/service" method="post" enctype="multipart/form-data" id="uploadImgCreateService">
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="{{{asset}}}/assets/src/cat2.png" alt="user-avatar" class="d-block rounded" height="100"
                    width="100" id="uploadedAvatar" />
                <div class="button-wrapper">
                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" id="upload" name="file" class="account-file-input" hidden
                            accept="image/png, image/jpeg" />
                    </label>

                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Basic Details</h5>
                    <small class="text-muted float-end">Fill details to create a new Service</small>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="create-service-name"><sup>*</sup>Name</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-window"></i></span>
                            <input type="text" class="form-control" placeholder="Enter new Service Name"
                                aria-label="Enter new Service Name" name="name" id="create-service-name"
                                aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span id="create-service-name-Error" class="text-danger d-none">this field is required</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="create-service-description">Description</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-detail"></i></span>
                            <textarea class="form-control" placeholder="Enter new Service Description if their is"
                                aria-label="Enter new Service Description if their is" name="description"
                                id="create-service-description"
                                aria-describedby="basic-icon-default-message2"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-email"><sup>*</sup>Service Category</label>
                        <div class="input-group input-group-merge">
                            {{#each category}}
                            <div class="form-check m-1">

                                <input class="form-check-input create-service-serviceCategory" type="radio"
                                    value="{{{id}}}" name="serviceCategory"
                                    id="create-service-serviceCategory{{{id}}}" />
                                <label class="form-check-label" for="create-service-serviceCategory{{{id}}}">
                                    {{{name}}}
                                </label>
                            </div>
                            {{else}}
                            no Service Categories are their
                            {{/each}}
                        </div>
                        <span id="create-service-serviceCategory-Error" class="text-danger d-none">this field is
                            required</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-email"><sup>*</sup>Select buissness</label>
                        <div class="input-group input-group-merge">
                            {{#each buissness}}
                            <div class="form-check m-1">
                                <input class="form-check-input create-service-buissness" type="radio" value="{{{id}}}"
                                    name="buissness" id="create-service-buissness{{{id}}}" />
                                <label class="form-check-label" for="create-service-buissness{{{id}}}">
                                    {{{name}}}
                                </label>
                            </div>
                            {{else}}
                            no Service Categories are their
                            {{/each}}
                        </div>
                        <span id="create-service-buissness-Error" class="text-danger d-none">this field is
                            required</span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="isEnabled"
                            id="create-service-isEnabled" checked />
                        <label class="form-check-label" for="isEnabled">
                            Active {{{moduleName}}}
                        </label>
                    </div>

                    <span id="serviceCreateSubmit" class="btn btn-primary">Create</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>
    $('#serviceCreateSubmit').on('click', function (e) {
        let name = $('#create-service-name').val();
        let description = $('#create-service-description').val();
        let isEnabled = parseInt($('#create-service-isEnabled:checked').val()) || 0;
        let serviceCategory = $('.create-service-serviceCategory:checked').val()
        let buissness = $('.create-service-buissness:checked').val();
        const Cdata = {
            name, description, isEnabled, buissness, serviceCategory: serviceCategory
        }
        if (name && buissness && serviceCategory) {

            $.ajax({
                type: "post",
                url: '/service/create',
                data: Cdata,
                success: function (result) {
                    console.log(result)
                    if (result.status) {
                        if ($('#upload').val()) {
                            $('#uploadImgCreateService').submit();
                        } else {
                            window.location = '/service';
                        }
                    }
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        } else {
            if (!name) {
                $('#create-service-name-Error').removeClass('d-none')
            } else {
                $('#create-service-name-Error').addClass('d-none')
            }
            if (!buissness) {
                $('#create-service-buissness-Error').removeClass('d-none')
            } else {
                $('#create-service-buissness-Error').addClass('d-none')
            }
            if (!serviceCategory) {
                $('#create-service-serviceCategory-Error').removeClass('d-none')
            } else {
                $('#create-service-serviceCategory-Error').addClass('d-none')
            }
        }
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#uploadedAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#upload").change(function () {
        readURL(this);
    });
</script>